<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Twitter, <%= @user.username %></h1>
<p>Please go to <%= link_to 'this link', "http://localhost:3000/twitter/confirm" %> for activating your account </p>
<p>Your Token is <%= @user.token %></p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>